#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.classes{
  @apply text-xl m-2  
}
.class{
  @apply text-blue-500 hover:underline
}
.main{
  margin: 1.25rem;
  min-height: 45.5rem;
  max-height: 120vh;
  padding: 20px;
  background-color:#15171f
  
}